header {
    will-change: contents;
}

.bgGreenMe {
    background: no-repeat center center;
    background-image: url('../assets/images/headerBackground.jpeg');
    background-size: cover;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

header svg {
    width: 35px;
    height: 35px;
}



.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #C6C8C6 0%, black 87%);
    padding-inline: 10px;
    color: #fff;
    position: relative;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu.open {
    transform: translateX(0);
}

.menu .menu-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.active svg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(216, 249, 146, 1) 60%);
    padding: 10px;
    transform: translateY(-33px);
    color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-bottom: -15px;

}

.active svg path {
    fill: #1E4A28;
}


.navContainer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.navigation {
    display: flex;
    gap: 20px
}

.actions {
    display: flex;
    gap: 20px
}